.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.site-name{
    font-size: 30px;
    
}

.nav-link{
    text-decoration: none;
    margin-right: 10px;
    color: #FDF4E3;
}

